<%- include("partials/header.ejs")%>

<%- include("list.ejs")%>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum porro libero nisi dolorem hic itaque deleniti magni accusantium, aspernatur commodi amet est aperiam doloremque dolores ratione fugiat voluptas in possimus deserunt! Harum iure eos autem corrupti porro et voluptatum molestias.</p>

<%- include("partials/footer.ejs") %>