<%- include("partials/header.ejs") %>

<%- include("list.ejs")%>
<div class="container">
    <div class="heading">
        <h2>Contact us: <br> bloggerpost@gmail.com</h2>
    </div>
</div>

<%- include("partials/footer.ejs")%>