
<div id = "menu" class="vertical-menu " name = "menu">
    <h1>Blog List</h1>
    <ul>
        <li> <a href="/blog">newone</a></li>
        <li> <a href="">another one</a></li>
        <li><a href="">newone</a></li>
        <li><a href="">another newone</a></li>
    </ul>
</div>