*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.container{
    display: flex;
}
.container .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 86vh;
}
.container .heading h1{
    font-family: "Bodoni Moda", serif;
    font-size: 10em;
}
.container .heading h2{
    font-family: "Bodoni Moda", serif;
    font-size: 5em;
    text-align: center;
}
nav{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Bebas Neue", sans-serif; ;
}
nav span{
    margin: 1em;
    padding: 0 1em 0em 0.5em;
    font-size: 1.5em;
    cursor: pointer;
}
nav a{
    color: white;
    margin: 1em 1em 1em 1em;
    font-size: 1.15em;
    text-decoration: none;
}
nav .list{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0 1em 0 1em;
}

#hello{
    height: 0;
    display: none;
}
nav .list a:hover{
    text-decoration: underline ;
    cursor: pointer;
    text-shadow: 0px 0px 10px #fff;
}


.vertical-menu{
    min-height: 90.1vh;
    width: 25vw;
    /* border-top: 1px solid grey; */
    background-image: linear-gradient(180deg,#71797E,#71797E,#71797E,white);
    position: absolute;
    left: -27vw;
}
.vertical-menu a{
    color: white;
    text-decoration: none;
}


.vertical-menu ul li{
    position: relative;
    /* text-decoration: underline; */
    left: 7em;
    list-style: disc;
    color: white;
    margin-bottom: 0em;
    height: 5vh;
    width: 20vw;
    font-size: 1.2em;
    font-family: "Raleway", sans-serif;
    
}
.vertical-menu h1{
    font-family: "Bebas Neue", sans-serif; ;
    text-align: center;
    margin-top: 1.2em;
    padding-bottom: 1em;
    color: white;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

.vertical-menu ul a:hover{
    font-weight:bold;
    transition: 50ms;
    cursor: pointer;
    text-shadow: 0px 0px 10px #fff;
}

footer{
    height: 5vh;
    width: 100vw;
    background-color: #71797E;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .connect{
    color: white;
}

footer .connect{
    color: white;
}

footer .connect img{
    height: 1em;
    margin: 0.25em;
}

footer .connect #f{
    height: 1.15em;
}

footer .connect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2{
    height: 86vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    flex-direction: column;
}

.container-2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-2 form input{

    margin-bottom: 1em;
    width: 25vw;
    border-radius: 5px;
    outline: none;
    border: 0.5px black solid;
}

.container-2 form #title{
    height: 3em;
    padding: 1em;
    font-size: 1em;
}

.container-2 form #heading{
    height: 3em;
    padding: 1em;
    font-size: 1em;
}

.container-2 form #description{
    margin-bottom: 1em;
    min-width: 25vw;
    border-radius: 5px;
    outline: none;
    border: 0.5px black solid;
    min-height: 15em;
    padding: 1em;
    font-size: 1em;
}
.container-2 form #submit{
    height: 3.5em;
    width: 15vw;
    border-radius: 5px;
    background-color: white;
    border: none;
    outline: none;
}
.container-2 h1{
    margin-bottom: 1.1em;
}

.container-2 form #submit:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.container-3{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-height: 86vh;
}

.container-3 .heading-2{
    margin: 3em 0 1em 0;
}

.container-3 p{
    margin: 5em 4em 1em 4em;
    font-size: 1.5em;
}